/* https://htmlcolorcodes.com/  
https://www.webhostingsecretrevealed.net/blog/web-business-ideas/25-gorgeous-web-safe-fonts-for-your-website/
https://www.cssfontstack.com/Andale-Mono
https://www.youtube.com/watch?v=vTYkpzIOXCQ&pbjreload=101
https://hookagency.com/website-color-schemes/

    font-family: 'Arimo', sans-serif;

    font-family: 'Days One', sans-serif;

    Fresh: #4ABDAC 
    Vermillion: #FC4A1A
    Sunshine: #F7B733
    Clean: #DFDCE3 

*/

/* generic selector */
body {
	background-color: #4ABDAC;
	color: white; /*text color */
	font-family: 'Arimo', sans-serif;
}

h1 {

	font-family: 'Days One', sans-serif;
}



ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;	
}
a{
	color: #DFDCE3 ;
	transition: color 200ms ease-in;
	text-decoration: none;
}

/*pseudo selector - user interacts*/

a:hover {
	color: #F7B733;
}

img { 
	width: 100%; 
}

/* id and class selector */

#container {
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

/* nested selector */
#header ul {
	display: flex;
}

#header li {
	margin-left: 1em;
}

#header a {
	font-size: 1.5em;
}

#portfolio {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
}

.project {
	border: 1px solid orangered;
	padding: 1em;
	background-color: transparent;
	transition: background-color 200ms ease-in;

}

.project:hover {
	background-color: #FC4A1A;

}

.project a {
	font-size: 1.25em;
}

/* about */

#portrait{
	width: 600px;
	float: right;

}

#about p {
	font-size: em;
}